.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #6F1A07!important;
}

h1 {
    font-family: coffee;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    
  }

  .badge {
      color: white;
  }

  .css-to4x1n-MuiBadge-badge {
      background-color: #A8763E!important;
  }

  .mobilesc {
      color:#6F1A07;
  }