* {
  margin: 0;
  padding: 0;
}

body {
  /* background: radial-gradient(circle, rgba(168,118,62,0.8267682072829132) 1%, rgba(247,243,227,1) 100%); */
  background: radial-gradient(circle, rgba(247,243,227,1) 0%, rgba(168,118,62,0.639093137254902) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}